* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}
header .universal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
header .bar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
header .bar-wrapper .bar-items-buttons {
  display: flex;
  gap: 0.7rem;
}
header .bar-wrapper .header-button-small {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
header .bar-wrapper ul {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  margin-top: 1rem;
}
header .bar-wrapper ul li {
  list-style: none;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.3s ease;
}
header .bar-wrapper ul li:hover {
  color: dimgrey;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.title-wrapper h1 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: white;
  font-weight: bold;
}
.title-wrapper p {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: white;
  text-align: center;
}
.title-wrapper .title-buttons-wrapper {
  display: flex;
  gap: 2rem;
}
.title-wrapper .title-buttons-wrapper .title-buttons {
  width: 8.75rem;
  height: 3.125rem;
  background-color: #3946AF;
  border: none;
  border-radius: 2.5rem;
  color: white;
  cursor: pointer;
}
.title-wrapper .title-buttons-wrapper .title-buttons1 {
  width: 8.75rem;
  height: 3.125rem;
  background-color: inherit;
  border-color: #3946AF;
  border-radius: 2.5rem;
  color: #3946AF;
  cursor: pointer;
}

body main {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
body main h2 {
  margin-top: 3rem;
  text-align: center;
  font-size: 3rem;
}
body main #section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: black;
}
body main #section-2 h3 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
}
body main #section-2 p {
  color: #FFFFFF;
}
body main #section-2 .buttons-wrapper1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
body main #section-2 .buttons-wrapper1 .buttons {
  width: 8.75rem;
  height: 3.125rem;
  background-color: #3946AF;
  border: none;
  border-radius: 2.5rem;
  color: white;
  cursor: pointer;
}
body main #section-2 .buttons-wrapper1 .buttons1 {
  width: 8.75rem;
  height: 3.125rem;
  background-color: inherit;
  border-color: #3946AF;
  border-radius: 2.5rem;
  color: #3946AF;
  cursor: pointer;
}
body main .universal-wrapper-for-airpods-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-wrapper-for-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.main-wrapper-for-main ul {
  display: flex;
  gap: 3rem;
}
.main-wrapper-for-main li {
  list-style: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.main-wrapper-for-main li:hover {
  color: grey;
  text-decoration: underline;
}
.main-wrapper-for-main .leptops {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .universal-wrapper {
    gap: 4rem;
  }
  .title-wrapper {
    gap: 0.8rem;
  }
  .title-buttons-wrapper {
    gap: 1.5rem;
  }
}
@media (max-width: 780px) {
  .universal-wrapper {
    gap: 3rem;
  }
  .title-wrapper {
    gap: 0.6rem;
  }
  .title-buttons-wrapper {
    gap: 1.2rem;
  }
}
@media (max-width: 480px) {
  header {
    width: 100%;
  }
  .leptop-pic {
    transform: scale(0.5);
  }
  .universal-wrapper {
    gap: 2rem;
  }
  .bar-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  .title-wrapper {
    gap: 0.5rem;
  }
  .title-wrapper h1 {
    font-size: 1.5rem;
  }
  .title-wrapper p {
    font-size: 0.875rem;
  }
  .title-buttons-wrapper {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .universal-wrapper {
    gap: 8rem;
  }
  .title-wrapper {
    gap: 1.5rem;
  }
  .title-buttons-wrapper {
    gap: 2.5rem;
  }
}/*# sourceMappingURL=apple.css.map */